@import "../../variables.scss";

.user {
  font-size: 1.3rem;
  margin: 15px 25px 0;
  display: grid;
  align-items: center;
  justify-content: space-around;
  gap: 0.8rem;
  p:last-child {
    margin-bottom: 13px;
    em {
      top: 7px;
      position: relative;
    }
  }
  ul {
    margin: 5px 0;
  }

  &__image {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 26px;
    img {
      max-width: 100%;
    }
  }
  
}
em,
li {
  color: $accent;
  font-style: italic;
}
