<div class="user" [@XToRight] *ngIf='dataLoaded'>
    <div *ngIf='user?.img' class="user__image" [ngClass]="{ 'pending': Imgloading }">
        <img [src]="user?.img" (load)="loaded()">
    </div>
    <p>Nickname: <em> {{user?.nickName}}</em></p>
    <div class="user__quality">
        <p>Strengths:</p>
        <ul>
            <li *ngFor='let strength of user?.strengths?.split(",")'>
                {{strength}}
            </li>
        </ul>
    </div>
    <div class="user__quality">
        <p>Weakness:</p>
        <ul>
            <li *ngFor='let weakness of user?.weakness?.split(",")'>
                {{weakness}}
            </li>
        </ul>
    </div>
    <p>Starts a conversation by saying: <br> <em>{{user?.desc}}</em></p>
</div>