.loader-hidden {
  visibility: hidden;
}

.loader-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  width: 80px;
  height: 80px;
  margin: -20px 0 0 -30px;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #34919d;
  border-bottom: 16px solid #ab1148;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.block-screen {
  height: 100%;
  top: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background: rgba(77, 123, 129, 0.5);
  z-index: 9995;
}
.loaderDim {
  width: 260px;
  position: relative;
  top: 0px;
}
