<div class="header">
    <p class="header__title" routerLink="home" >
        Tchitos' World
    </p>
    <div  class="header__nav">
        <p class="header__nav__link" *ngIf='checkProfilSelected()' routerLink="profil/{{userId}}"
            routerLinkActive="routerActiveHeader">Profil</p>
        <p class="header__nav__link" routerLink="movies" routerLinkActive="routerActiveHeader">Movies</p>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
<div class="footer" [ngClass]="{ 'all': checkProfilSelected() }">
    <div class="footer__link" *ngIf='checkProfilSelected()' routerLink="profil/{{userId}}"
        routerLinkActive="routerActiveFooter">
        <img src="assets/images/user.png">
        <p>Profil</p>
    </div>
    <div class="footer__link" routerLink="home" routerLinkActive="routerActiveFooter">
        <img src="assets/images/home.png">
        <p>Home</p>
    </div>
    <div class="footer__link" routerLink="movies" routerLinkActive="routerActiveFooter">
        <img src="assets/images/movie.png">
        <p>Movies</p>
    </div>
</div>