.choice {
  &__label {
    font-size: 2.7rem;
    text-align: center;
    padding: 2rem 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__profil {
      margin-right: 40px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &__name {
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
        color: gray;
      }

      &__image {
        box-shadow: 0 2px 15px rgba(0, 0, 0, .7);
        position: relative;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 6px;
        img {
          max-width: 100%;
          transition: transform 0.3s ease-in-out;
        }

        &:hover img {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .choice__list__profil {
    margin: 0 !important;
  }
  .choice__list__profil__name {
    margin-bottom: 25px;
  }
  .choice__label {
    font-size: 1.7rem;
  }
}
